/* Styles for Header component */
.div-header {
    background-color: var(--header-bg);
    color: var(--header-text);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-name {
    font-size: 1.8rem;
}

.left-content {
    display: flex;
    align-items: center;
}

.company-name {
    margin-right: 20px;
    color: var(--header-text);
}

.right-container {
    display: flex;
}

.nav-bar a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: underline;
}
